.achievements-section h2{
  color: #333;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.achievement-box {
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  color: white;
  width: calc(50% - 5px); /* Dwa obok siebie z odstępem */
  box-sizing: border-box;
}

.achievement-box h2 {
  font-size: 16px;
  margin: 0 0 5px 0;
}

.achievement-box p {
  font-size: 12px;
  margin: 0 0 5px 0;
}

.badge-box {
  padding: 8px;
  margin: 0;
  border-radius: 5px;
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer; /* Wskazuje klikalność */
}

.badge-icon {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.badge-icon i {
  font-size: 20px;
}

.badge-stripe {
  position: absolute;
  right: -5px;
  top: 0;
  width: 5px;
  height: 100%;
  border-radius: 0 3px 3px 0;
}

#achievementModalContent h2 {
  color: white;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.premium-icon {
  color: #FFD700; /* Gold color for premium */
  margin-left: 5px;
  font-size: 1.1em;
  vertical-align: middle;
  transition: transform 0.2s;
}

.premium-icon:hover, .verified-icon:hover {
  transform: scale(1.2); /* Slight zoom on hover for a fancy effect */
}

.verified-icon {
  color: #1DA1F2; /* Twitter-like blue for verified */
  margin-left: 5px;
  font-size: 1.1em;
  vertical-align: middle;
}
.local-storage-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}
.local-storage-table th, .local-storage-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.local-storage-table th {
  background-color: #f2f2f2;
}
.local-storage-table td pre {
  white-space: pre-wrap;
  margin: 0;
}
.game-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: -10px;
  top: 0px;
}

.game-status-seen {
  padding: 5px 10px;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  background-color: black;
  color: #666;
  font-size: 16px;
  cursor: default;
}
.vote-button {
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 0.2s;
  display: inline-block;
  padding: 5px 10px;
  color: black;
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  z-index: 1;
  left: auto;
  right: 5px;
}

.vote-button:hover {
  transform: scale(1.05);
}

.vote-button i.fa-solid {
  color: #28a745; /* Zielony kolor dla aktywnego głosu */
}

.vote-button i.fa-regular {
  color: #6c757d; /* Szary kolor dla nieaktywnego głosu */
}

.votedGame {
  background: linear-gradient(132deg, #000000,#00ff00, #0000ff,#e60073,#ff0000,#ffffff);
  background-size: 400% 400%;
  animation: BackgroundGradient 15s ease infinite;
}

@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
button:disabled {
    background: gray;
    cursor: not-allowed;
    opacity: 0.7;
}

.modal-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.game-link.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
.tag-containerL, .tag-containerR {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -10px;
    justify-content: space-between;
    margin: 8px 0;
    height: 100%;
    padding: 5px;
}
.tag-containerL {
  float: left;
  left: -10px;
  margin-left: 5px;
}
.tag-containerR {
  right: -10px;
  margin-right: 5px;
}
.tag-label {
    display: inline-flex;
    cursor: pointer;
    height: 35px;
    width: auto;
    overflow: hidden;
    transition: width 0.3s ease;
}

.tag-icon {
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.tag-containerL .tag-icon {
  left: 10px;
}
.tag-containerR .tag-icon {
  right: 10px;
}
.tag-label:hover .tag-icon {
    transform: scale(0);
}

.tag-name {
    font-size: 18px;
    color: #333;
    padding: 2px 6px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.tag-label:hover .tag-name {
  width: auto;
  opacity: 1;
  transform: translateX(0);
}


.tag-label[data-tag="testy"] .tag-icon,
.tag-label[data-tag="testy"] .tag-name {
    background-color: #ff0000; /* Orange for testy */
}
.tag-label[data-tag="testy"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="alpha"] .tag-icon,
.tag-label[data-tag="alpha"] .tag-name {
    background-color: #ff6600; /* Green for beta */
}
.tag-label[data-tag="alpha"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="beta"] .tag-icon,
.tag-label[data-tag="beta"] .tag-name {
    background-color: #ffa600; /* Green for beta */
}
.tag-label[data-tag="beta"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="konserwacje"] .tag-icon,
.tag-label[data-tag="konserwacje"] .tag-name {
    background-color: #b8f436; /* Red for konserwacje */
}
.tag-label[data-tag="konserwacje"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="nowosc"] .tag-icon,
.tag-label[data-tag="nowosc"] .tag-name {
    background-color: #2196F3; /* Blue for nowosc */
}
.tag-label[data-tag="nowosc"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="hot"] .tag-icon,
.tag-label[data-tag="hot"] .tag-name {
    background-color: #e91e79; /* Pink for hot */
}
.tag-label[data-tag="hot"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="event"] .tag-icon,
.tag-label[data-tag="event"] .tag-name {
    background-color: #e91e79; /* Pink for hot */
}
.tag-label[data-tag="event"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="w_tworzeniu"] .tag-icon,
.tag-label[data-tag="w_tworzeniu"] .tag-name {
    background-color: #3b3b3b; /* Purple for w_tworzeniu */
}
.tag-label[data-tag="w_tworzeniu"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="nie_dziala"] .tag-icon,
.tag-label[data-tag="nie_dziala"] .tag-name {
    background-color: #ff0000; /* Grey for nie_dziala */
}
.tag-label[data-tag="nie_dziala"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="przyszla_aktualizacja"] .tag-icon,
.tag-label[data-tag="przyszla_aktualizacja"] .tag-name {
    background-color: #07ff8f; /* Amber for przyszla_aktualizacja */
}
.tag-label[data-tag="przyszla_aktualizacja"] .tag-name {
    color: #333;
}

.tag-label[data-tag="premium"] .tag-icon,
.tag-label[data-tag="premium"] .tag-name {
    background-color: #FFD700; /* Gold for premium */
}
.tag-label[data-tag="premium"] .tag-name {
    color: #333;
}

.tag-label[data-tag="disabled"] .tag-icon,
.tag-label[data-tag="disabled"] .tag-name {
    background-color: #B0BEC5; /* Light grey for disabled */
}
.tag-label[data-tag="disabled"] .tag-name {
    color: #333;
}

.tag-label[data-tag="money"] .tag-icon,
.tag-label[data-tag="money"] .tag-name {
    background-color: #4CAF50; /* Green for money */
}
.tag-label[data-tag="money"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="internet"] .tag-icon,
.tag-label[data-tag="internet"] .tag-name {
    background-color: #0288D1; /* Light blue for internet */
}
.tag-label[data-tag="internet"] .tag-name {
    color: #fff;
}

.tag-label[data-tag="ukonczona"] .tag-icon,
.tag-label[data-tag="ukonczona"] .tag-name {
    background-color: #2E7D32; /* Dark green for ukonczona */
}
.tag-label[data-tag="ukonczona"] .tag-name {
    color: #fff;
}
#indexModal {
    height: 100vh;
}
.index-left-panel {
    width: 70%;
    float: left;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}
.index-right-panel {
    border-radius: 20px;
    width: 30%;
    float: right;
    height: 100%;
    background-color: #bdbdbd;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
    padding: 10px;
}
.thumbnail {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s, transform 0.2s;
    background-color: #767676;
    text-align: center;
}
.thumbnail.owned {
  background-color: #20e0e6;
}
.thumbnail:hover {
    border-color: #007bff;
    transform: scale(1.05);
}
.thumbnail img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
    margin: 0 auto 5px;
}
.thumbnail span {
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
.details {
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.3s;
}
.details.active {
    opacity: 1;
}
.details img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.details h2 {
    margin: 10px 0;
    color: #333;
}
.details p {
    color: #666;
    line-height: 1.5;
}
.no-icons {
    text-align: center;
    color: #999;
    font-style: italic;
    margin-top: 50px;
}